.navbar--container {
    width: auto;
    height: 55px;
    background: #F55A5A;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navbar--container > i {
    font-size: 1.5rem;
    margin: auto 8px;
}

.navbar--title {
    font-size: 14px;
    margin: auto 8px;
}